/* Блок "Прайс" */
	
/* Ширина всего блока */
.prising {
	width: 100%;
	background: #F5F5F5;
}


/* Раздел "Колонки с ценами" */
/* Ширина и месторасположение раздела */
.pricing__services {
	width: 1170px;
	margin: 0 auto;
}

/* Настроки всех колонок */
.pricing__columns {
	display: flex;
	flex-flow: row nowrap; /* Выравнить строку, блоки не переносятся  */
   justify-content: space-between; 
	padding-bottom: 60px; /* Высота блока */
}

/* Настроки каждой колонки */
.pricing__column {
	width: 370px;
	height: 510px;
	padding: 0px;
	margin: 0px;
}

.pricing__title, 
.pricing__price, 
.pricing__content {
   display: flex;
	justify-content: center;
	align-items: center; /* Выравнить по второстепенной оси ОДНИН ряд */
	color: #ffffff;
	padding: 0px;
	border: 1px solid #ffffff;
	margin: 0px;
}

.pricing__title {
   font: normal normal 700 24px/32.68px "Open Sans"; 
	background-color: #333333;
	width: 368.4px;
	height: 58.4px;
}

.pricing__price {
	font: normal normal 700 36px/42.26px "Raleway";
	background-color: #333333;
	width: 368.4px;
	height: 98.4px;
}

.pricing__content {
	font: normal normal 400 18px/21.13px "Raleway";
	color: rgba(255, 255, 255, 0.5);
	background-color: #333333;
	width: 368.4px;
	height: 48.4px;
}

.pricing__component {
	font: normal normal 400 18px/21.13px "Raleway";
	text-transform: capitalize; /* Задать высоту текста */
	color: #86878B;
	background-color: #ffffff;
	border: 1px solid #F5F5F5;
	width: 368.4px;
	height: 48.4px;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Задать тень и поднять колонку при наведении */
#column-1:hover,
#column-2:hover,
#column-3:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Задать тень */
	transform: translateY(-25px) ;
	filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}	

